.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-bg-color);
  stroke: var(--inverted-primary-color);
  width: 25px;
}

.collapsedLink {
  display: none;
}